@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAF9F6;
}

.header{
    font-family: "Playfair Display", sans-serif;
}

.sub-info, .fName, .email, .inquiry, .message, .send-btn{
    font-family: "Poppins", sans-serif;
}

.hero-banner{
    position: relative;
}

.banner-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.banner-img img{
    height: 650px;
}

.banner-info{
    max-width: 1335px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

.header{
    font-size: 2.5rem;
    font-weight: bold;
    color: #7B5E57;
    text-transform: capitalize;
}

.sub-info{
    color: #2F2F2F;
    font-size: 1.2rem;
    max-width: 600px;
}

.contact-wrapper{
    display: flex;
    max-height: 700px;
    justify-content: space-around;
    align-items: center;
}

.contact-img img{
    height: 700px;
    width: 700px;
    object-fit: contain;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 600px;
    gap: 20px;
    text-align: center;
}

.form-header{
    font-size: 50px;
}
.fName, .email, .inquiry, .message{
    padding: 10px 5px;
    color: #2F2F2F;
    border: 1px solid #7B5E57;
}

.message{
    text-align: left;
    vertical-align: top;
}

.fName::placeholder, .email::placeholder, .message::placeholder{
    color: #2F2F2F;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.send-btn{
    border: none;
    border-radius: 5px;
    background-color: #A8C3A0;
    color: #FAF9F6;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px 15px;
    width: fit-content;
}


hr{
    border: 1px solid #7B5E57;
}

/* .box-one span{
    display: flex;} */