*{

}


.nav-container {
    background-color: #FAF9F6;
    display: flex;

}

ul {
    display: flex;
}

li{
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
}